@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background-image: url('img/звезды\ фон.svg');
    background-repeat: repeat;
    background-position: center center;
    margin: 0;
    color: white;
}


a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 100%;
}

.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    z-index: 1000;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.logo-link{
    display: flex;
    flex-direction: row;
}

.logo-img{
    width: 34.94px;
    height: 33.05px;
    padding-right: 4px;
}
.logo-text{
    color: white;
    font-weight: bold;
    font-size: 32px;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.menu-item{
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.btn{
    animation: animBUT 5s infinite;
    background-color: #136DFF;
    border-radius: 50px;
    color: white;
    margin-right: 30px;
    padding: 7px 25px;
    border: 0;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}
@keyframes animBUT{
    0%{
        background-color: #136DFF;
        color: white;
    }
    25%{
        background-color: #490DFF;
        color: white;
    }
    50%{
        background-color: #D900FF;
        color: white;
    }
    75%{
        background-color: #490DFF;
        color: white;
    }
    100%{
        background-color: #136DFF;
        color: white;
    }
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modal-conf-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 30px;
    width: 80%;
    max-width: 521px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-conf-title{
    color: #390CCA;
    font-family: "Comfortaa", serif;
    font-weight: bold;
    font-size: 32px;
    padding-top: 45px;
}

.modal-conf-item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.checkbox{
    width: 40px;
    height: 20px;
    accent-color: #390CCA;
}


.modal-conf-text{
    color: black;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 16px;
}

.modal-conf-btn{
    color: #390CCA;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 16px;
    border: #390CCA 1px solid;
    border-radius: 20px;
    padding: 5px 23px;
    margin-bottom: 56px;
    cursor: pointer;
    transition: background-color 0.3s ease-out; 
}

.modal-conf-btn:hover{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #390CCA;
    border-radius: 20px;
    padding: 5px 23px;
    margin-bottom: 56px;
    cursor: pointer;
}

.banner{
    margin-bottom: 76px;
}

.banner-container{
    margin-bottom: 55px;
}

.banner-title-text {
    font-family: "Comfortaa", serif;
    font-weight: bold;
    font-size: 128px;
    margin-left: calc(50% - 230px);
    margin-top: 305px;
    margin-bottom: 303px;
}

.banner-text-left{
    position: absolute;
    left: 84px;
    top: 607px;
    max-width: 362px;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
}

.banner-text-right{
    position: absolute;
    right: 118px;
    top: 497px;
    max-width: 165px;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
}

.work {
    width: 100%;
    margin-bottom: 135px;
    position: relative;
    overflow: visible;
}

.shine-work{
    width: 1168px;
    height: 839px;
    position: absolute;
    top: 80px;
    right: 453px;
    z-index: -2;
}

.work-title{
    font-size: 50px;
    font-weight: bold;
    font-family: "Comfortaa", serif;
    display: flex;
    justify-content: center;
    margin-bottom: 78px;
}

.work-content{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 0; 
    gap: 30px;
    max-width: 617px;
    padding-bottom: 39.2px;
}

.work-item{
    display: flex;
    flex-direction: column;
}

.work-item-title{
    font-family: "Comfortaa", serif;
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: #535353 1px solid;
}
.work-item-text{
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 18px;
}

/* .shine{
    width: 1447px;
    height: 808px;
    position: absolute;
    top: 1782px;
    left: 473px;
    z-index: -2;
} */

.conf{
    position: relative;
    overflow: visible;
    margin-bottom: 135px;
}

.shine-conf{
    width: 1447px;
    height: 808px;
    position: absolute;
    top: -146px;
    right: -170px;
    z-index: -2;
}

.conf-title{
    font-size: 50px;
    font-weight: bold;
    font-family: "Comfortaa", serif;
    display: flex;
    justify-content: center;
    margin-bottom: 78px;
}

.conf-text{
    max-width: 587px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Comfortaa", serif;
    padding-bottom: 61px;
}

.about {
    width: 100%;
    margin-bottom: 135px;
    position: relative;
    overflow: visible;
}

.shine-about{
    width: 1437px;
    height: 602px;
    position: absolute;
    top: -30px;
    right: 254px;
    z-index: -2;
}

.about-title{
    font-size: 50px;
    font-weight: bold;
    font-family: "Comfortaa", serif;
    display: flex;
    justify-content: center;
    padding-bottom: 78px;
}

.about-text{
    margin-left: auto;
    margin-right: 0; 
    max-width: 587px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Comfortaa", serif;
    padding-bottom: 60px;
}

footer{
    padding-top: 32px;
    padding-bottom: 26px;
    border-top: #535353 1px solid;
    position: relative;
    overflow: visible;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 122px;
}

.footer-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.footer-item-link{
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.footer-social{
    cursor: pointer;
    margin-right: 30px;
}

/* стриницы футера */

.main-container{
    max-width: 1176px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 81px;
    padding-top: 99px;
}

.main-text{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 54px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 61px;
    padding-bottom: 61px;
}

.main-item-title{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 29px;
}

.main-item-text{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
}

ul{
    list-style-type: disc;
    list-style-position: inside;
    color: white;
    padding: 10px;
}

li{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
}
